*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}

.back{
    height:4rem;
    width:4rem;
    background-color: black;
    color:white;
    border-radius: 50%;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
    right:4rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.back:hover {
    cursor: pointer;
}
.gallery-cont{
    background-color: #ced6e0;
    height:100vh;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.media-cont{
    height:15rem;
    width:15rem;
    border: 5px solid rgb(252, 241, 241);
    border-radius: 6px;
    margin:2rem;
}
.media{
    height:calc(100% - 2rem - 2rem);
   
    
}
.media >*{
height: 100%;
width:100%;
object-fit: fill;
}


.download{
    height:2rem;
    background-color: black;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.download:hover{
    cursor: pointer;
}
.delete{
    height:2rem;
    background-color: rgb(186, 5, 5);
    border-radius: 5px;
    color:white;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.delete:hover{
    cursor:pointer;
}
.video{
    height: 100%;
    width: 100%;
}